<div class="row">
  <div class="col-12">
    <div class="homepage-title-container">
      <h1> Track your bets. Track your scores. All in one place.</h1>
      <p> Name goes here allows you to track all your bets, and see the scores you want to see. </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 ">
    <div class="homepage-button-container">
        <div class="btn-wrapper">
          <a class="btn primary-btn" routerLink="/login" role="button">Login</a>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="homepage-button-container">
      <div class="btn-wrapper">
        <a class="btn primary-btn" routerLink="/signup"role="button">Sign up</a>
      </div>
    </div>  
  </div>
</div>